$schema: https://aka.ms/osc/schemas/prerelease/document.json
resources:
- name: WSLv1 should not be allowed
  type: Microsoft.OSConfig/Test
  properties:
    resource: 
      name: GetSet | WSLv1 allow policy
      type: Microsoft.Windows/Registry
      properties:
        key: HKLM:\SOFTWARE\Policies\WSL
        value: AllowWSL1
        type: REG_DWORD
        data: 0
    expression: data == 0
    template: "Found \"{data}\"; expected \"0\"; Source {key} {value}"
- name: GuestAcct should be disallowed
  type: Microsoft.OSConfig/Test
  properties:
    resource: 
      name: GetSet | GuestAcct Status
      type: Microsoft.Windows/CSP
      properties:
        path: ./Device/Vendor/MSFT/Policy/Config/LocalPoliciesSecurityOptions/Accounts_EnableGuestAccountStatus
        type: integer
        value: 0
    expression: value < 1
    template: "Found \"{value}\"; expected \"< 1\"; Source {path}"
- name: DeviceGuard RPSF level
  type: Microsoft.OSConfig/Test
  properties:
    resource: 
      name: GetSet | DeviceGuard RPSF
      type: Microsoft.Windows/CSP
      properties:
        path: ./Vendor/MSFT/Policy/Config/DeviceGuard/RequirePlatformSecurityFeatures
        type: integer
        value: 1
    expression: value >= 1
    template: "Found \"{value}\"; expected \">= 1\"; Source {path}"