$schema: https://aka.ms/osc/schemas/prerelease/document.json
resources:
- name: "Get AllowWSL1 setting"
  type: Microsoft.Windows/Registry
  properties:
    key: HKLM:\SOFTWARE\Policies\WSL
    value: AllowWSL1
    type: REG_DWORD